//! **************************************************************************
// Written by: Map P.68d on Sun Dec 02 16:02:58 2018
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "AG8" LEVEL 1;
COMP "led<1>" LOCATE = SITE "AH8" LEVEL 1;
COMP "led<2>" LOCATE = SITE "AH9" LEVEL 1;
COMP "clk" LOCATE = SITE "AG18" LEVEL 1;
COMP "led<3>" LOCATE = SITE "AG10" LEVEL 1;
COMP "led<4>" LOCATE = SITE "AH10" LEVEL 1;
COMP "led<5>" LOCATE = SITE "AG11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "AF11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "AE11" LEVEL 1;
COMP "rx" LOCATE = SITE "AG15" LEVEL 1;
COMP "tx" LOCATE = SITE "AF19" LEVEL 1;
SCHEMATIC END;

